<section class="container">
  <div class="corpo">
    <div class="caixa-anuncio">
      <h1 class="titulo-anuncio">CDB DI da ITLAB, para clientes 110% do CDI</h1>
      <p class="ver-mais-anuncio"><a id="confira" routerLink="/meus-investimentos">confira aqui :)</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">fazer transferências</h1>
      <p class="ver-mais"><a routerLink="/nova-transferencia">saiba mais</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">extrato</h1>
      <p class="ver-mais"><a routerLink="/extrato">saiba mais</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">PIX</h1>
      <p class="ver-mais"><a routerLink="/pix">saiba mais</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">meus <br>investimentos</h1>
      <p class="ver-mais"><a routerLink="/meus-investimentos">saiba mais</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">empréstimo</h1>
      <p class="ver-mais"><a routerLink="/emprestimo">saiba mais</a></p>
    </div>
  </div>
</section>

