<section class="container">
  <div class="corpo">
    <div class="caixa-rendimento">
      <h1 class="titulo-rendimento">saldo total investido</h1>
      <h2 class="valor-rendimento">R$2.839.042,00</h2>
      <p class="ver-mais-rendimento">rendeu <span>R$19.643,12</span> (0,83%)</p>
      <p id="confira" class="ver-mais-rendimento">21/02/2022 A 14/03/2022</p>
    </div>
    <div class="caixa2">
      <h1 class="titulo3">conheça nossos estilos de investimentos!</h1>
    </div>
    <div class="caixa">
      <h1 class="titulo">CDB e Renda Fixa</h1>
      <h1 class="titulo2">risco baixo e previsibilidade</h1>
      <p class="ver-mais"><a routerLink="/nova-transferencia">investir</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">Fundos de Investimentos</h1>
      <h1 class="titulo2">diversificação e gestão profissional</h1>
      <p class="ver-mais"><a routerLink="/extrato">investir</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">Ações</h1>
      <h1 class="titulo2">diversificação a sua escolha</h1>
      <p class="ver-mais"><a routerLink="">investir</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">Criptomoedas</h1>
      <h1 class="titulo2">risco alto e um novo futuro</h1>
      <p class="ver-mais"><a routerLink="/meus-investimentos">investir</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">Poupança</h1>
      <h1 class="titulo2">sem imposto e resgate imediato</h1>
      <p class="ver-mais"><a routerLink="">investir</a></p>
    </div>
    <div class="caixa">
      <h1 class="titulo">Previdência</h1>
      <h1 class="titulo2">para o futuro</h1>
      <p class="ver-mais"><a routerLink="">investir</a></p>
    </div>
  </div>
</section>

