<section>

  <div class="anuncio">
    <h3 class="anuncio_text">Dinheiro na conta em minutos!</h3>
    <h3 class="anuncio_text2">até 120 dias para começar a pagar</h3>
  </div>

  <div class="emprestimo">
    <h1 class="emprestimo_titulo">Crédito Pessoal</h1>
    <p class="emprestimo_paragrafo">Parabéns! Você tem um crédito pré-aprovado de <span class="emprestimo_valor">R$500.000,00</span> para usa-lo informe o valor no campo abaixo!</p>
    <button disabled class="emprestimo_rs">R$</button><input type="number" class="emprestimo_input" [(ngModel)]="emprestimo"><br>
    <button class="emprestimo_botao">solicitar emprestimo</button>
  </div>

  <p class="ir">navegar para</p>
  <div class="caixa">
    <h2 class="texto-caixa">renegociação</h2>
  </div>
  <div class="caixa">
    <h2 class="texto-caixa">cheque especial</h2>
  </div>
  <div class="caixa">
    <h2 class="texto-caixa">consórcios</h2>
  </div>
  <div class="caixa">
    <h2 class="texto-caixa">adiantamento a depositante</h2>
  </div>
  <div class="caixa">
    <h2 class="texto-caixa">financiamento de veículos</h2>
  </div>
</section>
