<section class="container">
  <div class="corpo">
    <div class="caixa-anuncio">
      <h1 class="titulo-anuncio">PIX</h1>
      <div class="informacoes">
        <img class="pix-qrcode" src="../assets/img/qrcode-pix.png" alt="" />
        <p class="dados-pix">
          <span class="nome">Guilherme Rosa Campanha</span> <br />chave
          cadastrada<br /><span class="chave">000.000.000-00</span><br /><a
            class="compartilhar"
            >compartilhar</a
          >
        </p>
      </div>
    </div>
    <h2 class="transacoes">transações</h2>

    <div class="botoes">
      <button routerLink="/fazer-pix" class="opcoes">
        <div class="classe-acoes">
          <img
            src="../assets/icones/transferir.png"
            class="icone"
            alt=""
          />
          <br />
          <span class="acoes">transferir</span>
        </div>
      </button>
      <button class="opcoes">
        <div class="classe-acoes">
          <img
            src="../assets/icones/qr-code.png"
            class="icone"
            alt=""
          />
          <br />
          <span class="acoes">pagar QR Code</span>
        </div>
      </button>
    </div>
    <div class="botoes">
      <button class="opcoes">
        <div class="classe-acoes">
          <img
            src="../assets/icones/income.png"
            class="icone"
            alt=""
          />
          <br />
          <span class="acoes">cobrar alguém</span>
        </div>
      </button>
      <button class="opcoes">
        <div class="classe-acoes">
          <img
            src="../assets/icones/copia-de-dados.png"
            class="icone"
            alt=""
          />
          <br />
          <span class="acoes">Pix copia e cola</span>
        </div>
      </button>
    </div>
    <h2 class="consultar">consultar</h2>

    <div class="caixa">
      <h1 class="titulo">minhas chaves</h1>
      <h1 class="titulo">extrato Pix</h1>
      <h1 class="titulo">meus comprovantes</h1>
      <h1 class="titulo">meus limites</h1>
    </div>
  </div>
</section>
