<section class="container">
  <div class="top">
    <label for="styledSelect1" class="custom-select"></label>
    <select name="options">
      <option value="">chave Pix</option>
      <option value="">CPF/CNPJ</option>
      <option value="">celular</option>
      <option value="">e-mail</option>
      <option value="">aleatória</option>
    </select>
  </div>
  <div class="corpo">
    <div class="form__group field">
      <input
        type="input"
        class="form__field"
        placeholder="Name"
        name="conta"
        id="conta"
        required
      />
      <label for="conta" class="form__label">chave</label>
    </div>
    <button>continuar</button>
  </div>
</section>
